html {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  background-color: var(--color-white);
}

a {
  text-decoration: none !important;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

.registation-form-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.registation-form {
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  padding: 20px;
  width: 400px;
}

.nav-link:hover {
  color: #fff!important;
  background-color: #0d6efd!important;
}

.content__container{
  margin: 40px 50px;
  width: 100%;
}

.content{
  display: flex;
}

.userBlock{
  width: fit-content;
  background-color: white;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  padding: 20px;
}

.film-banner{
  width: 400px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.user__fio{
  max-width: 400px;
}